html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(10, 10, 10);
  box-sizing: border-box;
  align-items: center;
  min-height: 100vh;
  gap: 24px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 0.5fr);
  padding: 24px;
}

.board {
  background: rgba(20, 20, 20);
  aspect-ratio: 1;
  border: 1px solid rgba(40, 40, 40);
  padding: 12px;
}

div {
  border-radius: 8px;
}

/* BG-colors */
.bg-gray {
  background: #fafafa;
}

.bg-blue {
  background: #6979f8;
}

.bg-red {
  background: #ff647c;
}

.bg-orange {
  background: #ffa26b;
}

.bg-green {
  background: #00c48c;
}

.bg-purple {
  background: #be52f2;
}

.bg-pink {
  background: #fbe4e8;
}

/*width and height*/

.item-1 {
  width: 30px;
  height: 100%;
}

.item-2 {
  width: 20px;
  height: 50%;
}

.board-1 {
  display: flex;
  justify-content: space-between;
}

.board-2 {
  display: flex;
  justify-content: space-around;
}

.item-2:nth-child(2) {
  align-self: flex-end;
}

.item-3 {
  width: 10%;
  height: 100%;
}

.board-3 {
  display: flex;
  justify-content: space-around;
}

.item-4 {
  width: 10%;
  height: 15%;
  animation: animate 4s ease-in-out infinite;
}

.board-4 {
  display: flex;
  justify-content: space-between;
}

.board-5 {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.item-5-1 {
  width: 100%;
  height: 20%;
  flex: 1, 0, 100%;
  /*flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;*/
}

.item-5-2 {
  width: 50%;
  height: 80%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: fit-content;
}

.board-6 {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.item-6-1 {
  width: 20%;
  height: 100%;
}

.item-6-2 {
  width: 80%;
  height: 100%;
}

.board-7 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-7-1 {
  height: 20%;
  width: 100%;
}

.item-7-2 {
  height: 80%;
  width: 100%;
}

.board-8 {
  display: flex;
  gap: 5px;
}

.item-8-1 {
  width: 20%;
  height: 100%;
}

.item-8-2 {
  width: 80%;
  height: 100%;
}

.item-8-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-end;
  gap: 3px;
}

.small-item-8 {
  height: 8%;
  width: 32.5%;
}

.board-9 {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.item-9-1 {
  height: 80%;
  width: 78%;
  display: flex;
  align-items: flex-end;
}

.item-9-1-1 {
  height: 20%;
  width: 100%;
}

.item-9-2 {
  height: 80%;
  width: 20%;
}

.item-9-3 {
  height: 20%;
  width: 100%;
}

.board-10 {
  display: flex;
}

.item {
  flex: 1;
}

.item-10-1 {
  align-self: flex-start;
  height: 15%;
  width: 20%;
}

.item-10-2 {
  align-self: baseline;
  height: 25%;
  width: 20%;
}

.item-10-3 {
  width: 20%;
  height: 40%;
}

.item-10-4 {
  width: 40%;
  height: 20%;
  align-self: flex-end;
  justify-content: flex-end;
}

@keyframes animate {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(300px);
  }
}
