@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --font-color-white: rgb(255, 255, 255);
  --body-bg-color: linear-gradient(
    to right,
    rgb(190, 71, 145),
    rgb(112, 30, 112)
  );
  --card-bg-color: linear-gradient(
    to top right,
    rgb(172, 2, 2),
    rgb(255, 196, 0)
  );
  --color-box-shadow: rgba(51, 23, 212, 0.411);
  --color-detail: rgb(61, 61, 221);
  --color-detail-secondary: rgb(185, 183, 183);
}

body {
  min-height: 100vh;
  background: var(--body-bg-color);
  position: relative;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 8px 5px var(--color-box-shadow);
  background: var(--card-bg-color);
  width: 400px;
  height: 600px;
}

.container {
  font-family: var(--font-family);
  color: var(--font-color-white);
  text-align: left;
  overflow: hidden;
}

.container img {
  position: absolute;
  top: 3%;
  left: 3%;
}

.container__price {
  position: absolute;
  right: 3%;
  top: 3%;
  font-weight: bold;
}

.container__title {
  position: absolute;
  top: 15%;
  left: 3%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
}

.container__text {
  position: absolute;
  top: 22%;
  left: 3%;
  font-size: 1rem;
  line-height: 1.2;
}

.container__bg {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  font-size: 16rem;
  opacity: 20%;
  text-transform: uppercase;
  font-weight: bold;
  z-index: -1;
  overflow: hidden;
}

.bottom__section {
  position: absolute;
  width: 100%;
  padding: 50px 0;
  bottom: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: var(--font-color-white);
}

.img__tenis {
  position: absolute;
  bottom: 60%;
  left: 9%;
  z-index: 1;
}
.img__tenis img {
  width: 400px;
  animation: animate 3s linear infinite;
}

.bottom__link {
  position: absolute;
  cursor: pointer;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid var(--color-detail);
  padding: 10px 40px;
  border-radius: 20px;
  font-family: var(--font-family);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-detail);
  text-decoration: none;
  letter-spacing: 2.5px;
  z-index: 1;
}

.bottom__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: var(--font-family);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: var(--color-detail-secondary);
}

@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }
  50% {
    transform: translate(15px, -11px);
  }
  100% {
    transform: translate(-11px, 0);
  }
}
